html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #dedede;
    align-items: center;
}

.score-container{
    height: 10%;
    width: 100%;
    display: inline-flex;
}

.title-container{
    width: 90%;
    height: 70%;
    color: white;
    background: black;
    padding: 0 5%;
    margin: auto;
    display: flex;
}

.number-container{
    width: auto;
    height: 70%;
    color: white;
    background: black;
    padding: 0 5%;
    margin: auto;
    display: flex;
}

.title, .score{
    margin: auto;
    font-size: 20px;
}

.btn-start{
    background: #008000;
    height: 70%;
    width: 10%;
    color: white;
    border: 0;
    margin: auto;
    margin-right: 10px;
    border-radius: 10%;
    font-size: 20px;
}

.gamepad {
    padding: 0;
    margin: 0 auto;
    height: 90%;
    width: 70%;
    background: black
}

.color{ 
    box-sizing: border-box;
    float: left;
    width: 22.5%; 
    height: 29.3%; 
    margin: 1%;
    padding: 1%;  
    border-radius: 5% 5% 5% 30%;
  }

.marron{
    background: #523103;
}

.marron.light{
    background: #d17b07;
}

.rosa{
    background: #e162ce
}

.rosa.light{
    background: #f1b8e9
}

.rojo{
    background: #ce0000;
}

.rojo.light{
    background: #ff9797;
}

.mostaza{
    background: #c8a915;
}

.mostaza.light{
    background: #ffe566;
}

.azul{
    background: #000080;
}

.azul.light{
    background: #2f2fff;
}

.amarillo{
    background: #f0e953;
}

.amarillo.light{
    background: #fffbb2;
}

.cyan{
    background: #00ffff;
}

.cyan.light{
    background: #befdfd;
}

.limon{
    background: #80ff00;
}

.limon.light{
    background: #d1ffa2;
}

.naranja{
    background: #ff8000;
}

.naranja.light{
    background: #ffc992;
}

.guinda{
    background: #5b0020;
}

.guinda.light{
    background: #eb0052;
}

.verde{
    background: #004000;
}

.verde.light{
    background: #01ce01;
}

.violeta{
    background: #ffbfdf;
}

.violeta.light{
    background: #ffe6f2;
}

.hide {
    display: none !important;
}

*{
    font-family: 'Century Gothic';
}

@media (max-width: 500px) { 
    .btn-start{
        font-size: 10px;
    }

    .title{
        font-size: 10px;
    }

    .gamepad{
        width: 100%;
    }
}